html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #101c20;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  display: block;
  touch-action: none;
}
